.ConnectWallet {
  width: 100%;
  margin-block: 3rem;
}

.ConnectWallet_box {
  width: 50%;
  margin: 0 auto;
}

.ConnectWallet_box h1 {
  font-size: 3rem;
}

.ConnectWallet_box_para {
  font-size: 1.3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--shadow-dark-color);
}

.ConnectWallet_box_provider {
  margin-block: 5rem;
}

.ConnectWallet_box_provider_item {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  border: 1px solid var(--shadow-dark-color);
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.ConnectWallet_box_provider_item:hover {
  background-color: var(--shadow-dark-color);
}

.ConnectWallet_box_provider_item_img {
  font-size: 2rem;
}

.ConnectWallet_box_provider_item p {
  font-size: 1.5rem;
}

.active {
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 35em) {
  .ConnectWallet_box {
    width: 90%;
  }

  .ConnectWallet_box h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 2rem;
  }
}
