.banner_img_mobile {
  display: none;
}

.banner_img {
  height: 250px;
}

.banner_img img {
  object-fit: cover;
  height: 250px;
}

@media screen and (max-width: 35em) {
  .banner_img_mobile {
    display: block;
    height: 200px;
  }

  .banner_img_mobile img {
    height: 200px;
  }

  .banner_img {
    display: none;
  }
}
