.Dropzone {
  width: 100%;
  margin-block: 3rem;
}

.Dropzone_box {
  border: 5px dotted var(--icons-color);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.Dropzone_box_input_img img {
  display: inline;
}

.Dropzone_box_input_img_img {
  border-radius: 1rem;
  filter: saturate(0.1);
}

.Dropzone_box_aside {
  padding: 2rem;
  border: 3px dotted var(--icons-color);
  margin-top: 3rem;
  border-radius: 1px;
}

.Dropzone_box_aside_box {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  gap: 3rem;
}

.Dropzone_box_aside_box_preview p span {
  font-size: 1rem;
  font-weight: 700;
  /* margin-left: 1rem; */
  line-height: 3;
}

.Dropzone_box_aside_box_preview_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.2rem;
}

.Dropzone_box_aside_box_preview_two {
    line-height: 1.4;
}

.Dropzone_box_aside_box_preview_three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 35em) {
  .Dropzone_box_aside_box_preview_one {
    display: grid;
  }
  .Dropzone_box_aside_box {
    grid-template-columns: 1fr;
  }

  .Dropzone_box_aside_box_preview_three {
    grid-template-columns: 1fr;
  }
}
